body {
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100vh;
    background-color: #CC002C;
}

.leaflet-popup .leaflet-popup-tip-container {
    display: none;
  }

.leaflet-control-attribution {
    display: none !important;
}

.popupCustom .leaflet-popup-content-wrapper {
    background-color: rgba(230, 49, 56, .8);
    border: none;
    border-radius: 0px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.leaflet-container a{
    text-decoration: none;
    color: #fff !important;
}

.leaflet-popup-close-button {
    text-decoration: none;
    color: #fff !important;
}

/* .popupCustom a :visited {
    text-decoration: none;
    color: #fff;
} */
