body {
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    height: 100vh;
    background-color: #CC002C;
}

.label-tooltip {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    color: black;
    padding: 2px 4px;
}

.label-tooltip-code {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    color: black;
    padding: 2px 4px;
    font-size: 20px;
    font-weight: bold;

}

.label-tooltip-group {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    color: black;
    padding: 2px 4px;
    font-size: 20px;
    font-weight: bold;

}

.leaflet-control-attribution {
    display: none !important;
}

.popupCustom .leaflet-popup-content-wrapper {
    background-color: rgba(230, 49, 56, .9);
    border: none;
    border-radius: 0px;
    padding: 10px;
    color: #fff;
}